[submodule "busybox"]
	path = busybox
	url = git://git.busybox.net/busybox
[submodule "kexec-tools"]
	path = kexec-tools
	url = git://git.kernel.org/pub/scm/utils/kernel/kexec/kexec-tools.git
[submodule "toybox"]
	path = toybox
	url = git@github.com:gfto/toybox.git
